[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "SubgrPlots"]
	path = SubgrPlots
	url = https://github.com/nicoballarini/subgrplots
[submodule "subtee"]
	path = subtee
	url = https://github.com/cran/subtee
